<div>
  <nav class="verticalNav">
    <div class="headernavbar">
      <div>
        <svg
          width="44"
          height="44"
          viewBox="0 0 56 56"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.00012207" width="24.7869" height="24.7869" />
          <rect x="30.2952" width="24.7869" height="24.7869" />
          <rect x="0.00012207" y="31.2131" width="24.7869" height="24.7869" />
          <rect x="30.2952" y="31.2131" width="24.7869" height="24.7869" />
        </svg>
        <p>Dashbroad</p>
      </div>
      <div>
        <svg
          width="60"
          height="60"
          viewBox="0 0 63 63"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.5 52.5C9.05625 52.5 7.82075 51.9864 6.7935 50.9591C5.7645 49.9301 5.25 48.6937 5.25 47.25V15.75C5.25 14.3062 5.7645 13.0707 6.7935 12.0435C7.82075 11.0145 9.05625 10.5 10.5 10.5H52.5C53.9437 10.5 55.1801 11.0145 56.2091 12.0435C57.2364 13.0707 57.75 14.3062 57.75 15.75V47.25C57.75 48.6937 57.2364 49.9301 56.2091 50.9591C55.1801 51.9864 53.9437 52.5 52.5 52.5H10.5ZM31.5 34.125L52.5 21V15.75L31.5 28.875L10.5 15.75V21L31.5 34.125Z"
          />
        </svg>
        <p>Mail</p>
      </div>
      <div>
        <svg
          width="60"
          height="60"
          viewBox="0 0 60 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 50.3409C5 54.8275 8.25 58.2584 12.5 58.2584H47.5C51.75 58.2584 55 54.8275 55 50.3409V29.2276H5V50.3409ZM47.5 10.7534H42.5V8.11426C42.5 6.53076 41.5 5.4751 40 5.4751C38.5 5.4751 37.5 6.53076 37.5 8.11426V10.7534H22.5V8.11426C22.5 6.53076 21.5 5.4751 20 5.4751C18.5 5.4751 17.5 6.53076 17.5 8.11426V10.7534H12.5C8.25 10.7534 5 14.1843 5 18.6709V23.9493H55V18.6709C55 14.1843 51.75 10.7534 47.5 10.7534Z"
          />
        </svg>
        <p>Calendar</p>
      </div>
      <div>
        <svg
          width="80"
          height="80"
          viewBox="6 0 57 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M35.0342 26.7012C32.9902 26.7012 31.0762 27.4941 29.627 28.9434C28.1846 30.3926 27.3848 32.3066 27.3848 34.3506C27.3848 36.3945 28.1846 38.3086 29.627 39.7578C31.0762 41.2002 32.9902 42 35.0342 42C37.0781 42 38.9922 41.2002 40.4414 39.7578C41.8838 38.3086 42.6836 36.3945 42.6836 34.3506C42.6836 32.3066 41.8838 30.3926 40.4414 28.9434C39.7336 28.2301 38.8911 27.6646 37.9628 27.2796C37.0345 26.8947 36.0391 26.6981 35.0342 26.7012ZM63.2187 42.7998L58.748 38.9785C58.96 37.6797 59.0693 36.3535 59.0693 35.0342C59.0693 33.7148 58.96 32.3818 58.748 31.0898L63.2187 27.2686C63.5565 26.9794 63.7982 26.5944 63.9117 26.1645C64.0253 25.7347 64.0053 25.2805 63.8545 24.8623L63.793 24.6846C62.5626 21.244 60.719 18.0548 58.3516 15.2715L58.2285 15.1279C57.941 14.7899 57.5579 14.5469 57.1296 14.431C56.7012 14.3151 56.2478 14.3316 55.8291 14.4785L50.2783 16.4541C48.2275 14.7725 45.9443 13.4463 43.4697 12.5234L42.3965 6.71973C42.3155 6.28252 42.1034 5.88029 41.7884 5.56649C41.4734 5.25269 41.0703 5.04217 40.6328 4.96289L40.4482 4.92871C36.8936 4.28613 33.1475 4.28613 29.5928 4.92871L29.4082 4.96289C28.9707 5.04217 28.5676 5.25269 28.2526 5.56649C27.9376 5.88029 27.7255 6.28252 27.6445 6.71973L26.5645 12.5508C24.1133 13.481 21.8298 14.8039 19.8037 16.4678L14.2119 14.4785C13.7933 14.3305 13.3396 14.3133 12.911 14.4293C12.4824 14.5453 12.0993 14.789 11.8125 15.1279L11.6895 15.2715C9.32622 18.0577 7.48311 21.2461 6.24805 24.6846L6.18653 24.8623C5.87891 25.7168 6.13184 26.6738 6.82227 27.2686L11.3477 31.1309C11.1357 32.416 11.0332 33.7285 11.0332 35.0273C11.0332 36.3398 11.1357 37.6523 11.3477 38.9238L6.83594 42.7861C6.49822 43.0753 6.2565 43.4603 6.14294 43.8901C6.02938 44.32 6.04935 44.7742 6.2002 45.1924L6.26172 45.3701C7.49903 48.8086 9.32422 51.9873 11.7031 54.7832L11.8262 54.9268C12.1137 55.2648 12.4968 55.5078 12.9251 55.6237C13.3535 55.7396 13.8069 55.7231 14.2256 55.5762L19.8174 53.5869C21.8545 55.2617 24.124 56.5879 26.5781 57.5039L27.6582 63.335C27.7392 63.7722 27.9513 64.1744 28.2663 64.4882C28.5813 64.802 28.9844 65.0125 29.4219 65.0918L29.6064 65.126C33.1961 65.772 36.8723 65.772 40.4619 65.126L40.6465 65.0918C41.084 65.0125 41.4871 64.802 41.8021 64.4882C42.1171 64.1744 42.3292 63.7722 42.4102 63.335L43.4834 57.5312C45.958 56.6016 48.2412 55.2822 50.292 53.6006L55.8428 55.5762C56.2614 55.7242 56.7151 55.7414 57.1437 55.6254C57.5723 55.5094 57.9554 55.2657 58.2422 54.9268L58.3652 54.7832C60.7441 51.9736 62.5693 48.8086 63.8066 45.3701L63.8682 45.1924C64.1621 44.3447 63.9092 43.3945 63.2187 42.7998ZM35.0342 46.3682C28.3965 46.3682 23.0166 40.9883 23.0166 34.3506C23.0166 27.7129 28.3965 22.333 35.0342 22.333C41.6719 22.333 47.0518 27.7129 47.0518 34.3506C47.0518 40.9883 41.6719 46.3682 35.0342 46.3682Z"
          />
        </svg>

        <p>Setting</p>
      </div>
    </div>
    <div class="footernavbar">
      <div>
        <svg
          width="45"
          height="50"
          viewBox="0 0 60 65"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30 65C32.0643 65.0025 34.0782 64.3779 35.7616 63.213C37.4451 62.0481 38.7145 60.4008 39.3933 58.5H20.6067C21.2855 60.4008 22.5549 62.0481 24.2384 63.213C25.9218 64.3779 27.9357 65.0025 30 65ZM53.3333 40.9045V26C53.3333 15.5447 46.05 6.73725 36.1833 4.0885C35.2067 1.69 32.82 0 30 0C27.18 0 24.7933 1.69 23.8167 4.0885C13.95 6.7405 6.66667 15.5447 6.66667 26V40.9045L0.97667 46.4522C0.666528 46.7535 0.420569 47.1117 0.252951 47.506C0.0853338 47.9004 -0.000631497 48.3231 3.49225e-06 48.75V52C3.49225e-06 52.8619 0.351193 53.6886 0.976314 54.2981C1.60144 54.9076 2.44928 55.25 3.33334 55.25H56.6667C57.5507 55.25 58.3986 54.9076 59.0237 54.2981C59.6488 53.6886 60 52.8619 60 52V48.75C60.0006 48.3231 59.9147 47.9004 59.7471 47.506C59.5794 47.1117 59.3335 46.7535 59.0233 46.4522L53.3333 40.9045Z"
            fill="#fff"
          />
        </svg>
      </div>
      <div class="">
        <img src="" alt="Anh loi" srcset="" />
      </div>
      <div>
        <svg
          width="51"
          height="51"
          viewBox="0 0 51 51"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="25.5" cy="25.5" r="25.5" fill="white" />
          <mask id="path-2-inside-1_223_18" fill="white">
            <path
              d="M32.9038 21.1668C33.7163 22.4409 34.1745 23.9087 34.2311 25.4188C34.2877 26.9289 33.9406 28.4268 33.2257 29.7582C32.5108 31.0896 31.4539 32.2063 30.1638 32.9933C28.8737 33.7803 27.3971 34.2092 25.8862 34.2357C24.3752 34.2622 22.8845 33.8855 21.5676 33.1442C20.2507 32.4029 19.1553 31.324 18.3941 30.0185C17.6329 28.713 17.2335 27.2282 17.2371 25.717C17.2406 24.2059 17.647 22.7229 18.4143 21.4211L19.8352 22.2585C19.2168 23.3078 18.8893 24.503 18.8864 25.7209C18.8835 26.9389 19.2054 28.1356 19.8189 29.1877C20.4324 30.2399 21.3153 31.1095 22.3767 31.7069C23.438 32.3043 24.6395 32.608 25.8573 32.5866C27.075 32.5653 28.2651 32.2196 29.3048 31.5853C30.3446 30.951 31.1964 30.051 31.7726 28.9779C32.3488 27.9049 32.6285 26.6976 32.5829 25.4805C32.5373 24.2634 32.168 23.0805 31.5132 22.0536L32.9038 21.1668Z"
            />
          </mask>
          <path
            d="M32.9038 21.1668C33.7163 22.4409 34.1745 23.9087 34.2311 25.4188C34.2877 26.9289 33.9406 28.4268 33.2257 29.7582C32.5108 31.0896 31.4539 32.2063 30.1638 32.9933C28.8737 33.7803 27.3971 34.2092 25.8862 34.2357C24.3752 34.2622 22.8845 33.8855 21.5676 33.1442C20.2507 32.4029 19.1553 31.324 18.3941 30.0185C17.6329 28.713 17.2335 27.2282 17.2371 25.717C17.2406 24.2059 17.647 22.7229 18.4143 21.4211L19.8352 22.2585C19.2168 23.3078 18.8893 24.503 18.8864 25.7209C18.8835 26.9389 19.2054 28.1356 19.8189 29.1877C20.4324 30.2399 21.3153 31.1095 22.3767 31.7069C23.438 32.3043 24.6395 32.608 25.8573 32.5866C27.075 32.5653 28.2651 32.2196 29.3048 31.5853C30.3446 30.951 31.1964 30.051 31.7726 28.9779C32.3488 27.9049 32.6285 26.6976 32.5829 25.4805C32.5373 24.2634 32.168 23.0805 31.5132 22.0536L32.9038 21.1668Z"
            stroke="black"
            stroke-width="2"
            mask="url(#path-2-inside-1_223_18)"
          />
          <path d="M26 18.1405L26 29.1405" stroke="black" />
        </svg>
      </div>
    </div>
  </nav>
</div>
