<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="/css/form.css" />
</head>
<body>
    <div class="relativeBlock">
        <div class="shape">
          <h2>Wellcome My App</h2>
        </div>
        <div class="formClass">
          <form method="" action="">
            <input type="text" name="User" placeholder="User" />
            <br />
            <input type="password" name="Password" placeholder="Password" />
            <br />
            <a href=""> Forgot password ? </a>
            <br />
            <button>Login</button>
          </form>
        </div>
      </div>
</body>

<%- include("includes/end.ejs") %>
